<html>
<head>
    <title>Page</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>
<body>

<div id="container" style="width: 600px; height: 500px; display: inline-block">
    page
</div>

<div id="test">
    asd
</div>

<script>
    const json = {
        'id': 1000
    };
    const json2 = {
        'id2': 2000
    };
    const jsonItems = {...json, ...json2};

    var items = Object.entries(jsonItems);
    for(const [key, value] of items){
        //alert(value);
    }

    // Test Asynchrone Verarbeitung
    async function getElement(){
        var response = await jQuery.ajax({
            url: 'test-request',
            type: "POST"
        });
        return response;
    }

    (async () => {

        for(i=0;i<10;i++){
            await getElement();
        }

    })();

</script>
